#fondo{
    background-image: url('../../../assets/rest-fondo.webp');  
    background-size: cover;
    padding-top:100px;
    padding-bottom:100px;
}

#form_stock{
    border:1px solid rgb(170, 70, 228);
    background-color:#000000;
    margin:auto;
    display: block;
    width: 600px;
    padding:20px;
    border-radius: 8px;
    text-align: center;
} 

#form_stock form{
    margin-top: 10px;
    margin-bottom: 10px;
}


#form_stock form input[type="text"]{
    width: 250px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(67, 105, 209);
    background: none;
    outline: none;
    margin: auto;
    display:block;
    color:white;
}

#form_stock form input[type="number"]{
    width: 250px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(67, 105, 209);
    background: none;
    outline: none;
    margin: auto;
    display:block;
    color:white;
}

#form_stock form input::placeholder{
    text-align: center;
}


#form_stock h1{
    margin-bottom:20px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form_stock label{
    color:#a99aff;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form_stock label b{
    color:white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
} 

#form_stock button{
    margin: auto;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #b6a9ff;
}

#form_stock form button:hover{
    background-color: rgb(170, 70, 228);
}

#form_stock a{
    color:rgb(32, 197, 209);
    text-decoration: none;
}

#form_stock a:hover{
    color:rgb(170, 70, 228);
}

input.ng-invalid.ng-touched{
    border-bottom:1px solid red !important;
}

span{
    color:white;
    margin-left: 10px;
}