<!-- Modal -->
<div class="modal fade" id="modalBorrarRest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Borrar Restaurante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro de que quiere borrar el restaurante?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="borrar()" data-bs-dismiss="modal">Borrar Restaurante</button>
        </div>
      </div>
    </div>
  </div>


<div id="fondo">
    <div class="container">
      <div id="verRest" class="row">
        <div class="col-12">
          <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre restaurante</th>
                    <th scope="col">Nombre del dueño</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Numero de mesas</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Empleados</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of servicio.rest" >
                    <td>{{rest.nom_rest}}</td>
                    <td>{{rest.nom_dueno}}</td>
                    <td>{{rest.telefono}}</td>
                    <td>{{rest.mesas}}</td>
                    <td>{{rest.direccion}}</td>
                    <td *ngIf="servicio.rest.length>0"><a routerLink="/verEmp"><i class="pi pi-user iconos" (mouseover)="subir(rest._id)"></i></a></td>
                    <td *ngIf="servicio.rest"><a routerLink="/verStock" ><span class="pi pi-shopping-bag iconos_stock" (mouseover)="subir(rest._id)"></span></a></td>
                    <td *ngIf="servicio.rest"><a routerLink="/editarRest" ><span class="pi pi-pencil iconos_editar" (mouseover)="subir(rest._id)"></span></a></td>
                    <td *ngIf="servicio.rest"><button data-bs-toggle="modal" data-bs-target="#modalBorrarRest" class="borrar_rest"><i class="pi pi-trash iconos_borrar" (click)="subir(rest._id)"></i>.</button></td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/" class="enlace-todos">Ver todos los pedidos</a>
        </div>
    </div>
  </div>
</div>