#fondo{
    background-image: url('../../../assets/fondo.jpg');   
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
} 

#verRest{
    border: 3px groove rgb(107, 106, 106);
    background-color:#fdf5e6;
    margin:auto;
    display: block;
    width: 1500px;
    padding:50px;
    text-align: center;
    margin-left: -110px;
}


#verRest table{
    display:block;
    margin:auto;
    width: 1000px;
}

#verRest table thead{
    width: 1500px !important;
    border:1px solid rgb(38, 36, 163);
}

#verRest table tbody tr{
    border:1px solid rgb(38, 36, 163);
    width: 1500px !important;
}


.iconos_borrar{
    color:rgb(255, 0, 0);
}

.iconos_editar{
    color:rgb(90, 138, 0);
}

.iconos_pedidos{
    color:rgb(218, 131, 0);
}

.borrar_rest{
    background:none;
    border:none;
}

.enlace-todos{
    margin-right:15px;
    color:rgb(46, 48, 48)
}

.enlace-todos:hover{
    color:rgb(93, 91, 197);
}

