<!-- Modal -->
<div class="modal fade" id="modalBorrarRest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Borrar Restaurante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro de que quiere borrar el restaurante?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="borrar()" data-bs-dismiss="modal">Borrar Restaurante</button>
        </div>
      </div>
    </div>
  </div>

  

<div id="fondo">
    <div class="container">
      <div id="verRest" class="row">
        <div class="row filtros">
          <div class="col-md-12 col-12 col-sm-12 direccion-filtrar">
            <span class="mr-20 mb">Dueño:</span>
              <form [formGroup]="filtrarRestForm" (submit)="filtrarNomRest()">
                <div class="form-group form-filtrado">
                  <input type="text" formControlName="nom_dueno" name="nom_dueno" class="form-control nom_rest" required>
                  <button type="submit" class="btn filtrado" [disabled]="filtrarRestForm.invalid">Añadir</button>
                </div>
              </form>
          </div>
          <div class="col-md-12 col-12 col-sm-12 mesas-filtrar">
            <span class="mr-20">Mesas:</span>
              <select [(ngModel)]="opcionSeleccionado2" name="filtro" (change)="filtrarMesas()">
                <option selected value="0">Numero maximo</option>
                <option value='50'>50</option>
                <option value='100'>100</option>
              </select>
          </div>
        </div>
        <div class="col-12 table-responsive">
          <table class="table table-dark table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col" (click)="ordenar('nom_rest')">Nombre restaurante</th>
                    <th scope="col" (click)="ordenar('nom_dueno')">Nombre del dueño</th>
                    <th scope="col" (click)="ordenar('telefono')">Teléfono</th>
                    <th scope="col" (click)="ordenar('mesas')">Numero de mesas</th>
                    <th scope="col" (click)="ordenar('direccion')">Dirección</th>
                    <th scope="col">Empleados</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of servicio.rest" >
                    <td>{{rest.nom_rest}}</td>
                    <td>{{rest.nom_dueno}}</td>
                    <td>{{rest.telefono}}</td>
                    <td>{{rest.mesas}}</td>
                    <td>{{rest.direccion}}</td>
                    <td *ngIf="servicio.rest.length>0"><a><i class="pi pi-user iconos" (click)="subir(rest._id, 1)"></i></a></td>
                    <td *ngIf="servicio.rest"><a><i class="pi pi-shopping-bag iconos_stock" (click)="subir(rest._id, 2)"></i></a></td>
                    <td *ngIf="servicio.rest"><a><i class="pi pi-pencil iconos_editar" (click)="subir(rest._id, 3)"></i></a></td>
                    <td *ngIf="servicio.rest"><button data-bs-toggle="modal" data-bs-target="#modalBorrarRest" class="borrar_rest"><i class="pi pi-trash iconos_borrar" (click)="subir(rest._id, 4)"></i>.</button></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
  </div>
</div>