<div id="fondo">  
    <div class="container" id="form_login">
        <form  [formGroup]="aniadirPedidoForm" (submit)="aniadir()">
            <h1>Añadir pedido</h1>
            <div class="form-group">
                <label for="nom">Nombre</label>
                <input type="text" formControlName="nom" name="nom" class="form-control"  required><br>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" formControlName="descripcion"  name="descripcion" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" formControlName="precio"   name="precio" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" formControlName="direccion"  name="direccion" class="form-control" placeholder="Calle Oviedo 26" required><br>
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" formControlName="ciudad"  name="ciudad" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for="nom_rest">Restaurante</label><br>
                <select name="nom_rest" formControlName="nom_rest"  name="nom_rest">
                    <option selected disabled>Elija restaurante</option>
                    <option [value]="rest.nom_rest" *ngFor="let rest of servicio.pedidos" class="form-control">{{rest.nom_rest}}</option>
                </select>
            </div>
            <button type="submit" class="btn" [disabled]="aniadirPedidoForm.invalid">Añadir</button>
        </form>
        <a routerLink="/verPedidos" class="enlace-todos">Volver</a>
    </div>
</div>
