#fondo{
    background-image: url('../../../assets/rest-fondo.webp');  
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
} 

#verEmp{
    border:1px solid rgb(170, 70, 228);
    background-color:#000000;
    margin:auto;
    display: block;
    padding:50px;
    border-radius: 8px;
    text-align: center;
    color:white;
}

#verEmp h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iconos_borrar{
    color:rgb(255, 0, 0);
}

.iconos_editar{
    color:rgb(90, 138, 0);
    margin-right: 5px;
}


.borrar_rest{
    background:none;
    border:none;
}

input.ng-invalid.ng-touched{
    border-bottom:1px solid red !important;
}

.pedido{
    border:1px dotted black;
    background-color: rgb(255, 255, 255);
    color:black;
}

.pedido-header h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pedido-body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pedido-precio p{
    font-size:18px;
}

.pedido-acciones{
    padding:10px;
}

.enlace-todos {
    color:rgb(32, 197, 209);
}

.enlace-todos:hover{
    color:rgb(93, 91, 197);
    text-decoration: none;
}

.filtrar{
    float:left;
    text-align: left;
}

.ordenar{
    float:right;
    text-align: right;
}

select{
    background-color:rgb(32, 32, 32);
    color:white;
    border-radius: 5px;
}


