<div id="fondo">

  <!-- Modal -->
  <div class="modal fade" id="ModalRecuContra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Si ha perdido/no recuerda su contraseña introduzca su email y pulse en el siguiente enlace para obtener una nueva contraseña
        </div>
        <form  [formGroup]="recuForm">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Introduzca el email" formControlName="correoRecu" name="correoRecu">
          </div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
          <button type="button" class="btn btn-secondary recu" (click)="recuperar()" [disabled]="recuForm.invalid">Recuperar contraseña</button>
        </div>
        </form>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row fila">
        <div class="col-md-6 col-12 foto">
          <img src="../../../assets/logo.jpeg" alt="...">
          <h1>Gestaurante</h1>
        </div>
        <div class="col-md-6 col-12 formulario" id="form_login">
          <form  [formGroup]="loginForm" (submit)="loguearse()">
            <h1>INICIAR SESIÓN</h1>
            <div class="form-group">
              <label for="email"><b>Correo</b></label>
              <input type="email" class="form-control" id="email" placeholder="Introduzca el email" formControlName="correo" name="correo">
            </div>
            <div class="form-group">
              <label for="contrasena"><b>Contraseña</b></label>
              <input type="password" class="form-control" id="contrasena" placeholder="Introduzca la contraseña" formControlName="contrasena" name="contrasena" >
            </div>
            <button type="submit" class="btn" [disabled]="loginForm.invalid">Enviar</button>
          </form>
          <hr>
        <div class="enlaces">
          <a routerLink="/registroUser">Registrarse</a><br>
          <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#ModalRecuContra" id="recuContra">¿Has olvidado tu contraseña?</button>
        </div>
        </div>
      </div>
    </div>
</div> 

