#fondo{
    background-image: url('../../../assets/rest-fondo.webp');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
} 

#logueado{
    border:1px solid rgb(170, 70, 228);
    background-color:#000000;
    margin:auto;
    display: block;
    max-width: 600px;
    padding:20px;
    border-radius: 8px;
}


#logueado img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin-bottom:15px;
    margin-right: 20px;
}

#logueado a{
    color:rgb(32, 197, 209);
    text-decoration: none;
    margin-right: 40px;
}

#logueado a:hover{
    color:rgb(170, 70, 228);
    
}

#logueado span{
    color: #a99aff;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logueado p{
    color:white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#borrar_usuario{
    justify-content: flex-end;
    border: none;
    border-radius: 20px;
    background-color: rgb(32, 197, 209);
    color:white;
}


#cerrar_sesion{
    justify-content: flex-end;
    float: right;
    border: none;
    border-radius: 20px;
    background-color: rgb(32, 197, 209);
    color:white;
}

#logueado button:hover{
    background-color: rgb(171, 0, 206);
}

@media(max-width: 576px){
    #borrar_usuario{
        margin-top: 30px;
    }
    
    
    #cerrar_sesion{
        margin-top: 55px;
    }
}
