<div class="row"> 
    <div class="container">
        <form  [formGroup]="editarForm" (submit)="editarUser()" enctype="multipart/form-data">
            <img src="../../../assets/{{servicio.usuario.imagen}}" alt="imagen" class="img-perfil" ><br>
            <div class="form-group">
                <label for="imagen">Editar imagen</label>
                <input type="file" name="imagen" class="form-control" placeholder="Editar imagen" (change)="obtenerFoto($event)"><br>
                <button type="button" (click)="subirImg()">Guardar Imagen</button>
            </div>
            <div class="form-group">
                <label for="nom_compl">Nombre completo: <b>{{servicio.usuario.nom_compl}}</b></label>
                <input type="text" formControlName="nom_compl" name="nom_compl" class="form-control" placeholder="Editar nombre"><br>
            </div>
            <div class="form-group">
                <label for="nom_user">Nombre usuario: <b>{{servicio.usuario.nom_user}}</b></label>
                <input type="text" formControlName="nom_user"  name="nom_user" class="form-control" placeholder="Editar usuario"><br>
            </div>
            <div class="form-group">
                <label for="edad">Edad: <b>{{servicio.usuario.edad}}</b></label>
                <input type="number" formControlName="edad"   name="edad" class="form-control" placeholder="Editar edad"><br>
            </div>
            <button type="submit" class="btn">Editar</button>
      
        </form>
    </div>
    <a routerLink="/verUser">Volver</a>
</div>