<div>
<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <img src="../assets/logo.jpeg" alt="img" class="img-logo" routerLink="/"><span id="nombreLogo">Gestaurante</span>
        <ul class="navbar-nav" *ngIf="ver">
          <li class="nav-item">
            <a class="nav-link" routerLink="aniadirRest">Añadir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="verRestaurante">Gestionar</a>
          </li>
         </ul>
         <div id="contenedorImg" *ngIf="ver">
            <img src="http://localhost:4000/{{servicio.usuario.imagen}}" alt="img" class="img-perfil" routerLink="/verUser">
         </div>
        </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>