#fondo{
    background-image: url('../../../assets/rest-fondo.webp');
    padding-top: 200px;
    padding-bottom: 200px;
} 

#verRest{
    border: 3px groove rgb(107, 106, 106);
    border-radius: 7px;
    background-color:#d2c9ec;
    margin:auto;
    display: block;
    padding:50px;
    text-align: center;
    margin-left: -110px;
}


#verRest table{
    margin: 0 auto;
}

#verRest table th{
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#verRest table thead{
    border:1px solid rgb(133, 66, 196);
}

#verRest table tbody tr{
    border:1px solid rgb(133, 66, 196);
}

#verRest table tbody tr td{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.iconos_borrar{
    color:rgb(255, 0, 0);
}

.iconos_editar{
    color:rgb(90, 138, 0);
}

.iconos_stock{
    color:rgb(218, 131, 0);
}

.borrar_rest{
    background:none;
    border:none;
}

.enlace-todos{
    color:rgb(46, 48, 48)
}

.enlace-todos:hover{
    color:rgb(93, 91, 197);
}

.enlace-aniadir{
    margin-bottom:15px;
    color:rgb(46, 48, 48)
}

.p-20{
    padding:20px;
}
