<div id="fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="card" style="width: 18rem; height:380px">
          <img src="../../../assets/rest1.jpeg" class="card-img-top" alt="Gestionar">
          <div class="card-body">
            <h5 class="card-title">Gestiona</h5>
            <p class="card-text">Gestiona tus restaurantes con total facilidad, gracias a esta aplicación sencilla e intuitiva.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ">
        <div class="card carta-central" style="width: 18rem; height:380px">
          <img src="../../../assets/rest2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Administra</h5>
            <p class="card-text">Administra todo sobre los pedidos como el precio, descripción o dirección de forma muy intuitiva.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ">
        <div class="card carta-derecha" style="width: 18rem; height:380px">
          <img src="../../../assets/rest3.jpeg" class="card-img-top" alt="..." style="height:190px">
          <div class="card-body">
            <h5 class="card-title">Coordina</h5>
            <p class="card-text">Coordina tus mesas y empleados, además de poder gestionarlos en todos los aspectos (sueldo, cargo, teléfono...).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-100">
    <div class="row info"> 
      <div class="col-md-5 col-12">
        <img src="../../../assets/gestor-rest.jpg" alt="..."  style="height:300px">
      </div>
      <div class="col-md-7 col-12 info-texto">
          <h3>Gestaurante</h3>
          <h1>Gestiona tus restaurantes</h1>
          <p>Gracias a esta aplicación podrás gestionar todos los aspectos de tus restaurantes de forma <span class="subrayado-am">sencilla</span> e <span class="subrayado-am">
            intuitiva</span>, sin perder ni un solo detalle de lo que ocurre en el.</p>
          <p>Con <span class="subrayado-mor">Gestaurante</span> podrás añadir todos los restaurantes que tengas en tu propiedad y <span class="subrayado-am">gestionarlos</span> 
            libremente por la aplicación, en el caso de que solo tengas uno también sirve nuestra aplicación gracias a sus diversas funcionalidades.
          </p>
          <p>Con nuestra aplicación podrás gestionar todo el <span class="subrayado-ver">stock</span> del restaurante, los <span class="subrayado-ver">pedidos</span> e incluso 
            cada uno de los <span class="subrayado-ver">empleados</span> que tengas contratados.</p>
        </div>
    </div>
  </div>
</div>
  
