<div id="fondo">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem; height:380px">
          <img src="../../../assets/rest1.jpeg" class="card-img-top" alt="Gestionar">
          <div class="card-body">
            <h5 class="card-title">Gestiona</h5>
            <p class="card-text">Gestiona tus restaurantes con total facilidad, gracias a esta aplicación sencilla e intuitiva.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; height:380px">
          <img src="../../../assets/rest2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Administra</h5>
            <p class="card-text">Administra todo sobre los pedidos como el precio, descripción o dirección de forma muy intuitiva.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; height:380px">
          <img src="../../../assets/rest3.jpeg" class="card-img-top" alt="..." style="height:190px">
          <div class="card-body">
            <h5 class="card-title">Coordina</h5>
            <p class="card-text">Coordina tus mesas y empleados, además de poder gestionarlos en todos los aspectos (sueldo, cargo, teléfono...).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>