#fondo{
    background-image: url('../../../assets/rest-fondo.webp');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
} 

#editaremp{
    border:1px solid rgb(170, 70, 228);
    background-color:#000000;
    margin:auto;
    display: block;
    max-width: 600px;
    padding:20px;
    border-radius: 8px;
    text-align: center;
}

#editaremp h1{
    margin-bottom:20px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#editaremp label{
    color:#a99aff;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#editaremp label b{
    color:white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
} 

#editaremp a{
    color:rgb(32, 197, 209);
    text-decoration: none;
}

#editaremp a:hover{
    color:rgb(170, 70, 228);
}

#editaremp button{
    margin: auto;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #b6a9ff;
}

#editaremp form button:hover{
    background-color: rgb(170, 70, 228);
}

#editaremp form input[type="text"]{
    width: 250px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(67, 105, 209);
    background: none;
    outline: none;
    margin: auto;
    display:block;
    color:white;
}

#editaremp form input[type="number"]{
    width: 250px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(67, 105, 209);
    background: none;
    outline: none;
    margin: auto;
    display:block;
    color:white;
}

#editaremp form input::placeholder{
    text-align: center;
}

.img-perfil{
    width:100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px 10px 10px 1px;
}

input.ng-invalid.ng-touched{
    border-bottom:1px solid red !important;
}


span{
    color:white;
    margin-left:10px;
}